@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

* {
    margin: 0px;    
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Antic', sans-serif;
    position: relative;
    background: url(../bg_red.svg);

}
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header {
    width: 90%;
    height: 90vh;
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 2rem;
    margin-bottom: 4rem;
}
.header .quote p {
    font-size: 1.3rem;
}
.header .form {
    margin-top: 3rem;
}

.header input {
    margin-top: 0.5rem;
    width: 12rem;
    height: 3rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.header #datebtn {
    width: 120px;
    height: 60px;
    background:url(../bg_redbtn.svg);
    border: none;
    border-radius: 2rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.header #datebtn:hover {
    cursor: pointer;
}
.header__content {
    width:98%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header__content .card {
    width: 30%;
    height:100%;
    margin-right: 2%;
    padding: 2rem;
    display: none;
    transition: all .5s;
}
.header__content .card h1 {
    margin-bottom: 2rem;
}
.header__content .card:first-child {
    margin-left: 2%;
}

.hidden {
    display: none;
}



/* Main */

.main {
    width: 90%;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}
.article {
    width: 45rem;
    text-align: center;
    margin-top: 3rem;
    transition: all .2s;
    display: inline-block;
    margin-bottom: 2rem;
}
.article:hover {
    display: inline-block;
    background-image: linear-gradient(to right,#FFDDF6,#E10273);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination a:hover {
    cursor: pointer;
}

.pagination a.active {
  background-color: #E10273;
  color: white;
  border: 1px solid #FFDDF6;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Footer */

.footer {
    width: 90%;
    height: 10vh;
    margin-top: 1rem;
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer * {
    margin-right: 1rem;
}
.footer a {
    text-decoration: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #eebee1;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }